<a href="https://colab.research.google.com/github/MailaFAP/BCXP-Desafio-M-dulo-1/blob/main/BCXP_Desafio_Final_M%C3%B3dulo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# relação dos nomes
nomes = ['Maria', 'Julieta', 'Fernando', 'Cristiano', 'Julieta', 'Maria', 'Fernando', 'Cláudio']
# estrutura que irá armazenar o número de letras de cada nome
qtd_letras = {}
# calcula o tamanho de cada nome (em número de letras) e armazena o valor na estrutura
for nome in nomes:
    qtd_letras[nome] = len(nome)

print(qtd_letras)

{'Maria': 5, 'Julieta': 7, 'Fernando': 8, 'Cristiano': 9, 'Cláudio': 7}

In [46]:
nomes = ['Maria', 'Julieta', 'Fernando', 'Cristiano', 'Julieta', 'Maria', 'Fernando', 'Cláudio']
qtd_letras = {nome: len(nome) for nome in nomes}
print(qtd_letras)
print(len(nomes))
print(len(qtd_letras))

{'Maria': 5, 'Julieta': 7, 'Fernando': 8, 'Cristiano': 9, 'Cláudio': 7}
8
5

In [3]:
#sem declarar automaticamnete o valor de pi
def area(r,pi=3.14):
    return pi*(r**2)

area(8,3.141592)

201.061888

In [4]:
#declarando o valor de pi
def area(r,pi=3.14):
    return pi*(r**2)

area(8)

200.96

In [ ]:
area = lambda r,pi: pi* r**2
area(8, 3.14)

200.96

In [ ]:
area = lambda r,pi = 3.141592: pi* r**2
area(8)

201.061888

In [40]:
# Encontra e retorna o maior número impar presente na lista
def maior_impar(lista):
    impares = [x for x in lista if x % 2 != 0]
    if impares:
        return max(impares)
    else:
        return None

lista = [5, 10 , 15 , 83 , 99]
print(maior_impar(lista))

99

In [41]:
# Encontra e retorna o menor número impar presente na lista
def menor_impar(lista):
    impares = [x for x in lista if x % 2 != 0]
    if impares:
        return min(impares)
    else:
        return None

print(menor_impar(lista))

5

In [43]:
# Encontra e retorna o maior e o menor número ímpar presentes na lista
def maior_e_menor_impar(lista):
    impares = [x for x in lista if x % 2 != 0]
    if impares:
        return min(impares), max(impares)
    else:
        return None, None

print(maior_e_menor_impar(lista))

(5, 99)

In [44]:
len({1, 3, 1, 4, 3, 2, 2, 0, 4})

5

In [47]:
[n/2 for n in range(0, 10) if n > 3]

[2.0, 2.5, 3.0, 3.5, 4.0, 4.5]